body {
  background: url(../images/menu.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  background-color: black;
}

#nav-bar a:hover {
  background-color: #cccccc;
  color: #27403e;
}

#main-title {
  width: 900px;
  margin: 150px auto 30px auto;
  color: #cccccc;
  text-align: center;
}

.carousel {
  width:900px;
  margin-left: auto;
  margin-right: auto;
}

#text-container {
  text-align: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 30px;
  color: #cccccc;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

@media (orientation: portrait) {

  #main-title {
    width: 80%;
    margin: 100px auto 30px auto;
  }

  .carousel {
    width: 80%;
  }

  h1 {
    font-size: 35px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  p {
    font-size: 15px;
  }

  #text-container {
    width: 90%;
    margin-bottom: 10%;
  }

  #footer a {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
  }

  #nav-bar a {
    font-size: 16px;
  }

}