body { 
  background: url(../images/about_background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: scroll;
}

#nav-bar a:hover {
  background-color: #9e9984;
  color: #27403e;
}

#text-container {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 45%;
  min-height: 1000px;
  margin-top: 12%;
  margin-right: 120px;
  color: #27403e;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

@media only screen and (max-width: 1400px) {

  body {
    background: url(../images/about_right.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  #nav-bar a:hover {
    background-color: #cccccc;
    color: #27403e;
  }

  #text-container {
    top: 0;
    left: 0;
    width: 70vw;
    margin-top: 0px;
    margin-left: 14%;
    padding-top: 10%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #27403e;
    color: #cccccc;
    opacity: 80%;
  }

}

@media only screen and (max-width: 920px) {

  #text-container {
    margin-left: 10%;
    padding-top: 0px;
    width: 75vw;
  }

  h1 {
    font-size: 35px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 21px;
  }
  
  p {
    font-size: 18px;
  }

}

@media (orientation: portrait) {

  body {
    background: url(../images/about_portrait_background.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  #text-container {
    top: 0;
    left: 0;
    width: 70vw;
    margin-top: 65%;
    margin-left: 14%;
    color: #27403e;
    background-color: transparent;
  }

}

@media only screen 
    and (device-width : 768px) 
    and (device-height: 1024px) {

      #text-container {
        margin-top: 500px;
      }

}

@media only screen 
    and (device-width : 240px) 
    and (device-height: 320px) {

      #text-container {
        margin-top: 450px;
      }

}

@media only screen 
    and (device-width : 411px) 
    and (device-height: 823px) {

      #text-container {
        margin-top: 750px;
      }

}

@media only screen 
    and (device-width : 375px) 
    and (device-height: 812px) {

      #text-container {
        margin-top: 850px;
      }

}

@media only screen 
    and (device-width : 1024px) 
    and (device-height: 1366px) {

      #text-container {
        margin-top: 500px;
      }

}

@media only screen 
    and (device-width : 540px) 
    and (device-height: 720px) {

      #text-container {
        margin-top: 500px;
      }

}

@media only screen 
    and (device-width : 280px) 
    and (device-height: 653px) {

      #text-container {
        margin-top: 900px;
      }

}