body { 
  background: url(../images/contact.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  background-color: #5c5c5a;
}

#main-box {
  display: flex;
  margin: 5% auto 30px auto;
  width: 80%;
}

.content-box {
  flex: 1;
  width: 30%;
  text-align: center;
  color: #e7e7e7;
}

.main-title {
  font-size: 50px;
}

.information {
  font-size: 25px;
  font-weight: bold;
}

#reviews-div {
  display: flex;
  width: 80%;
  padding-top: 20px;
  margin: 40px auto 5% auto;
  text-align: center;
  justify-content: space-around;
  align-content: flex-start;
  color: white;
  background: rgba(203, 203, 200, .5);
}

.reviews {
  width: 20%;
}

.random-person-image {
  border-radius: 50%;
}

.person-name {
  font-size: 16px;
}

.comments {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.stars {
  color: rgb(236, 198, 27);
}


@media (orientation: portrait) {
  #main-box {
    display: block;
    margin-top: 20%;
  }

  .content-box {
    display: block;
    width: 100%;
  }

  .position-center {
    margin-left: auto;
    margin-right: auto;
  }

  #lower-box-on-portrait {
    margin-top: 10%;
  }

  #reviews-div {
    margin-bottom: 10%;
  }
}