body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

#nav-bar {
  background-color: #27403e;
  overflow: auto;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

#nav-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #cccccc;
  font-size: 25px;
  text-decoration: none;
}

#nav-bar a:hover {
  background-color: #cccccc;
  color: #27403e;
}

@media (orientation: portrait) {

  #nav-bar a {
    font-weight: bold;
  }

}

