body { 
  background: url(../images/home.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

#welcome-title {
  position: absolute;
  float: left;
  margin-top: 250px;
  margin-left: 200px;
  text-align: center;
  color: #27403e;
}

#welcome-p {
  font-size: 55px;
}

h1 {
  font-size: 120px;
  font-weight: 400;
}

@media only screen and (max-width: 1000px) {
  #welcome-title {
    position: absolute;
    float: left;
    margin-top: 200px;
    margin-left: 20px;
  }
}