body { 
  background: url(../images/menu.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  color: #e7e7e7;
}

.text-background {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background: rgba(203, 203, 200, .2);
}

#upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 7%;
}

.main-heading {
  font-size: 50px;
}

.coffee-images {
  width: 400px;
  padding: 10px;
}

.sub-text {
  font-size: 25px;
  font-weight: 400;
}

#lower-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-bottom: 50px;
  align-items: flex-start;
}

.menu-category {
  width: 50%;
  text-align: center;
  color: #e7e7e7;
}

.category-header {
  border: 2px dotted #e7e7e7;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.menu-item {
  font-size: 23px;
  font-weight: bold;
}

.price {
  font-size: 20px;
}