body { 
  background: url(../images/team_landscape.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 1000px;
  margin: 5% auto 5% auto;
  background: rgba(39, 64, 62, 0.8);
}

#main-title {
  font-size: 50px;
  color: #e7e7e7;
  text-align: center;
}

.text-on-page {
  color: #e7e7e7;
  width: 400px;
  padding: 20px;
  margin-left: 300px;
  text-align: center;
  font-weight: bold;
}

.images {
  border-radius: 25px;
  float: left;
  margin-bottom: 20px;
  margin-top: 10px;
}

.member-name {
  border: 2px dotted #e7e7e7;  
}

@media only screen and (max-width: 1230px) {
  .text-on-page {
    width: 300px;
  }
  
  #main-title {
    width: 450px;
  }
}

@media (orientation: portrait) {
  #main-container {
    margin-top: 25%;
    width: 100%;
  }
}